*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #B5C0BF;
}
header{
    display: flex;
    background-color: #682C1E;
    width: 100%;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.logo__navbar{
    height: 90px;
    width: 90px;
}

.nav__bar{
    display: flex;
    list-style: none;
    gap: 2rem;
    
}

.nav__items__a{
    color: #B5C0BF;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 600;
}
.nav__items__a:hover{
    color: #084641;
}

main {
    background-color: #B5C0BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.hero_section{
    display: flex;
    gap:20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 5rem;
    align-items: center;
    font-family: "Montserrat";
}
.hero_info h1{
    color: #084641;
    font-size: 48px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
}
.hero_info p {
    color: #084641;
    font-size: 25px;
    width: 350px;
    margin-top: 50px;
    text-align: justify;
}

.hero_bottom{
    display: flex;
    gap: 15px;
    margin-top: 180px;
}

.hero_bottom a{
    text-decoration: none;
    color: #B5C0BF;
    background-color: #682C1E;
    padding: 1rem;
    border-radius: 10px;
    margin: .5rem;
}

.hero_bottom a:hover{
    background-color: #084641;
}

.secundari_section{
    width: 55%; 
    text-align: justify;
    font-size: 25px;
    color: #084641;
    font-family: "Montserrat";
    
}

.hero_card{
    display: flex;
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 2rem;
    font-family: "Montserrat";
    color: #084641;
    text-align: justify;
}
.img_card{
    height: 300px;
    width: 400px;
}
.card_1{
    height: 400px;
    width: 400px;
    padding: 10px;
}
.card_1_title h1{
    font-size: 1.8rem;
}
.card_1_title h1, p{
    margin-top: 10px;
}
footer{
    width: 100%;
    height: 100%;
    background-color: #B5C0BF;
    margin-top: 5rem;
}
.Social{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 15px;
}
.contacto{
    color: #084641;
    font-family: "Montserrat";
}
.contacto h1{
    font-size: 40px;
    margin: 40px;
}
.contacto h3{
    font-size: 30px;
    margin: 70px;
}
.contacto p{
    margin-left: 60px;
    padding: 10px;
    margin-bottom: 15px;
}

.contacto_img img{
    width: 400px;
    height: 400px;
}
.derechos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 5rem;
    color: #084641;
    font-size: 25px;
    font-family: "Montserrat";
}


